@charset "UTF-8";

/* paleta de cores

    #03151F
    #B8470F
*/

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color:#03151F;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    overflow: hidden;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

#login > #imagem{
    display: block;
    background: #b8470fc6 url(../imagens/pexels-aleksandar-pasaric-2603464.jpg) no-repeat;
    height: 250px;
    background-size:cover;
    background-position: center top;
}
#form{
    display: block;
    padding: 20px;
}