@charset "UTF-8";

/* paleta de cores

    #03151F
    #B8470F
*/

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color:#03151F;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    overflow: hidden;
    width: 250px;
    height: 520px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

#login > #imagem{
    display: block;
    background: #b8470fc6 url(../imagens/pexels-aleksandar-pasaric-2603464.jpg) no-repeat;
    height: 250px;
    background-size:cover;
    background-position: center top;
}
#form{
    display: block;
    padding: 10px;
}
#form > h1{
    text-align: center;
    margin-bottom: 10px;
}
#form > p{
    font-size: 0.8em;
}
form >.campo{
    display: block;
    width: 100%;
    height: 40px;
    background-color: #d14e0dc6;
    border-radius: 8px;
    margin: 5px 0px;
    border: 1px solid #d14e0dc6;
}
.campo>label>span{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}
.campo > input{
    background-color: #03151F;
    font-size: 0.9em;
    width: calc(100% - 44.5px);
    transform: translateY(-12px);
    height: 100%;
    border-radius: 8px;
    padding: 3px;
}
.campo>input:focus-within{
    background-color: white;
}

form>input[type=submit]{
    display: block;
    font-size: 0.9em;
    width: 100%;
    height: 30px;
    background-color: #03151F;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}
form>input[type=submit]:hover{
    background-color: #174a66;
    color:black ;

}
form>.botao{
    display: block;
    text-align: center;
    font-size: 0.9em;
    width: 100%;
    height: 40px;
    background-color: #060d10;
    margin-top: 3px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
}
form>.botao:hover{
    background-color: #022a4089;
    color: black;
}
form>.botao > span{
    font-size: 0.9em;
    padding-top: 10px;
}